body{
background-color: #b398ad;
  font-family: Inconsolata;
}
h1{
  font-size: 60px;
  text-align: center;
  font-family: Static;

}
h3{ text-align: center;

  font-family: Anton;
}
h2{
  text-align: center;

  font-family: Anton;
}
ul.anchor{
  text-align: center;
  font-family: Anton;
}


p{
  font-size: medium;
  font-family: Anton;
}

button{
  border: solid;
  text-align: center;
  padding: 10px;
  background-color: bisque;
  color: #b398ad;
}


img{
  width: 150px;
  border-style: double;
  border-width: 4px;
  border-color: #8a181d;
  display:flex;
}


.container{
    text-decoration-color:rgb(70, 29, 58);
}

a:hover{
  background-color: #7e2a53;
  text-decoration-color: rgb(236, 208, 236);
  text-align: right;
}

a{
    background-color:rgb(70, 29, 58);
     text-decoration-color: rgb(186, 113, 162) ;
     text-align: right;
}

