body{
  background-color: #f0c7e8;
  font-family: Inconsolata;
  
}
h1{
  font-size: large;
    
}
p{
    
  font-size: medium;
    
}
button{
  border: solid;
  padding: 10px;
  background-color: bisque;
  color: #b398ad;
}
img{

  border-radius: 50%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  display: flex;
  flex-direction: row;

}

