body{
  background-color: #D88193;
  font-family: Inconsolata;
}
h1{
  font-size: 60px;
  text-align: center;
  font-family: Anton;
  color: #8a181d;
}
h2{
  text-align: center;
  color:#8a181d;
}
a{
  text-align: center;
}
p{
  font-size: medium;
  text-align: center;
  color:#8a181d;
}
button{
  border: solid;
  text-align: center;
  padding: 10px;
  background-color: bisque;
  color: #b398ad;
}
ul.list{
  list-style-type: none;
}
.activitycontainer{
  color:#8a181d;
}
.photos{
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  border-style: double;
  border-width: 4px;
  border-color: #8a181d;
}
img{
  width: 150px;
  border-style: double;
  border-width: 4px;
  border-color: #8a181d;
}

.container{
  color:#8a181d;
  text-align: center;
}

 